.code-area 
{
  -fx-background-color: #1c1c1e;
}

.lineno
{
  -fx-background-color: #0a0a0a; 
}

.code-area .text 
{
  -fx-font-familly: "fira code", monospace;
  -fx-font-size: 20px;
  -fx-fill: #ffffff;
}

